<!DOCTYPE html>
<html>
    <head>
        <title>{{pageTitle}}</title>
    </head>
    <body>
        {{> headerText}}
        <p>{{screamIt message}}</p>
    </body>
    {{> footer}}
</html>